server {
    listen 80;
    server_name spotlatestnews.com www.spotlatestnews.com localhost;
    root /usr/share/nginx/html/spotlatestnews;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    location /fetch {
        set $proxy_url "https://newsdata.io/api/1/news?apikey=${API_KEY}&$args";
        proxy_pass $proxy_url;
        
        limit_req zone=one;
    }    
}