:root {
  --text-color: black;
}

* {
  margin: 0;
  padding: 0; 
  list-style: none;
}

body {
  max-width: 900px;
  min-width: 70vw;
  margin: auto;
}

a {
    text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 5vw;
  padding: 1rem 0.5rem;
}

.nav__menu {
  flex-grow: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__submenu {
  display: flex;
  gap: 2vw;
  margin: auto 0;
}

.nav__checkbox-label {
  font-size: 0.75rem;
}

.nav__checkbox {
  font-size: inherit;
}

.nav__text-field {
  width: 25vw;
}
