* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #e7e1e1;

}

#root {
  height: inherit;
}

.container-lg {
  background-color: white;
  border-left: solid;
  border-right: solid;
  border-color: #d1d1d0;
  border-width: 2.5px;
  height: inherit;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  height: 7rem;
  padding: 0 1rem;
}

.header .select-lang {
  /* width: 25%;
  max-width: 12rem; */
  font-size: smaller;
}

.offcanvas-body .select-lang {
  width: 50%;
  font-size: smaller;
}

.search-query {
  width: 70%;
  display: flex;
  align-items: center;
}

.react-autosuggest__container {
  width: 60%;
  position: relative;
}

.react-autosuggest__search-bar {
  width: 100%
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 0.2rem;
  background-color: white;
  border: 1px #dddddd solid;
  border-radius: 3px;
}

.react-autosuggest__suggestions-list {
  margin: 0.15rem;
}

.react-autosuggest__suggestion {
  margin: 0;
  padding: 0.4rem;
  z-index: 99;
  /* border-radius: 3px; */
  list-style: none;
  cursor: pointer;
}

.react-autosuggest__suggestion:hover {
  background-color: #549fd8;
}

.content {
  height: inherit;
  max-width: 100%;
  margin: 0;
}

#filters {
  height: inherit;
  width: 100%;
  font-size: 0.9rem;
}

ul {
  padding: 0;
}

.filter__params-container {
  max-height: 155px;
  overflow-y: auto;
}

.filter--title {
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize; 
}

.card {
  cursor: pointer;
  font-size: 0.9rem;
  width: 270px;
  margin: 0 auto;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: inherit;
}

.card__add-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.75rem;
  text-transform: capitalize;
}

/* Not used */
.card__add-info-region {
  display: flex;
  width: 45%;
  justify-content: space-between;
}
/*  */

.filter--title,
.form-check,
#searchSuggestions>li {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

@media (max-width: 767px) {
  .card {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .cards {
    padding: 4.75rem;
  }

  .card {
    width: 300px;
  }
}

/* @media (min-width: 700px) {
  .cards {
      padding: 0rem;
  }
} */

@media (max-width: 991px) {}

@media (min-width: 992px) {
  .cards {
    padding: 3rem;
  }

}

@media (min-width: 1200px) {
  .cards {
    padding: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .cards {
    padding: 3rem;
  }

  .card {
    width: 275px;
  }
}