* {
  box-sizing: border-box;
}

body {
  background-color: #e7e1e1;
  height: 100vh;
}

ul {
  padding: 0;
}

.filter__title,
.form-check,
#searchSuggestions>li {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

#root {
  height: inherit;
}

.container-lg {
  background-color: white;
  border-left: solid;
  border-right: solid;
  border-color: #e6e0e0;
  border-width: 2.5px;
  height: inherit;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  height: 7rem;
  padding: 0 2rem;
}

header .select-lang__container {
  font-size: smaller;
}

.offcanvas-body .select-lang__container {
  width: 50%;
  font-size: smaller;
  padding-bottom: 2rem;
}

.select-lan>option {
  padding: 1rem;
}

.search-form {
  width: 100%;
  display: flex;
}

.react-autosuggest__container {
  width: 50%;
  position: relative;
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 0.2rem;
  background-color: white;
  border: 1px #dddddd solid;
  border-radius: 3px;
  font-weight: 400;
}

.react-autosuggest__suggestions-list {
  margin: 0.15rem;
}

.react-autosuggest__suggestion {
  margin: 0;
  padding: 0.4rem;
  z-index: 99;
  /* border-radius: 3px; */
  list-style: none;
  cursor: pointer;
}

.react-autosuggest__suggestion:hover {
  background-color: #549fd8;
  font-weight: 500;
}

main {
  height: inherit;
  max-width: 100%;
  margin: 0;
}

.filters {
  width: 100%;
}

.filter {
  font-size: 0.9rem;
  text-transform: capitalize;
}

.filter__container {
  height: 200px;
  overflow-y: auto;
}

.filter__header {
  cursor: pointer;
}

.filter__title {
  font-weight: 400;
}

.card {
  width: 100% !important;
  cursor: pointer;
  font-size: 0.9rem;
  width: 270px;
  margin: 0 auto;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: inherit;
}

.card__add-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.75rem;
  text-transform: capitalize;
}



@media (min-width: 700px) {
  .cards {
    padding: 0rem;
  }
}


@media (min-width: 768px) {
  .cards {
    padding: 4.75rem;
  }

  .card {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .cards {
    padding: 3rem;
  }

}


@media (min-width: 1200px) {
  .cards {
    padding: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .cards {
    padding: 3rem;
  }

  .card {
    width: 275px;
  }
}

@media (max-width: 767px) {
  .card {
    width: 400px;
  }
}


@media (max-width: 575px) {
  header {
    padding: 0 1rem;

  }

  .search-form {
    flex-direction: column-reverse;
    gap: 0.5rem
  }


  .react-autosuggest__container {
    width: 100%;
  }
}


@media (max-width: 240px) {
  header {
    height: auto;
    padding: 1rem 0.5rem;
    flex-direction: column;
    gap: 1rem;
  }

  .card__add-info {
    flex-direction: column;
  }

  .cards {
    background-color: red;
  }
}